<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name=".H2Oasis"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.H2Oasis"
        tools:targetApi="31">
        <activity
            android:name=".ActivityChangePassword"
            android:exported="false" />
        <activity
            android:name=".ActivityUserProfile"
            android:exported="false" />
        <activity
            android:name=".ActivityCisternas"
            android:exported="false" />
        <activity
            android:name=".ActivityFormularioCisterna"
            android:exported="false" />
        <activity
            android:name=".ActivityMainMenu"
            android:exported="false" />
        <activity
            android:name=".ActivityRegistration"
            android:exported="false" />
        <activity
            android:name=".ActivityLogin"
            android:exported="true"
            android:label="H2Oasis"
            android:theme="@style/Theme.H2Oasis">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>